*{
  margin:0;
  padding:0;
  list-style: none;
  border:none;
  text-decoration: none;
}

/* common */


header,#about,#experience,#contact{
  background-image: url(image/ishan-seefromthesky-qE1Y8GQKhEk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position:relative;
}



.title{
  background: linear-gradient(-80deg,rgba(57, 193, 212, 0.55), rgb(18, 184, 186));
  height:10vh;
  text-align: center;
}

.title h2{
  font-size: 40px;
  font-weight: lighter;
  padding-top:10px;
}


/* header */
header{
  height:100vh;
}

header h1{
  font-weight: bold;
  font-size: 100px;
  font-family: 'fantasy';
}

header a{
  font-size:60px;
  font-weight:bolder;
  color:white;
  background: linear-gradient(-80deg,rgba(57, 193, 212, 0.55), rgb(18, 184, 186));;
  border-radius: 7px;
}

li{
 font-size: 30px;
 margin-top:20px;
 padding-left:20px;
}




/* about */
#about{
  height:170vh;
}

.bg-about{
background-color: rgba(0,0,255,0.1);
height:170vh;
}
#about h2{
  font-size:40px;
}
.progress{
  height:30px;
}


/* experience */
#experience{
  height:200vh;
}

.bg-experience{
  background-color:rgba(255,0,0,0.2);
  height:200vh;
}
#experience img{
  height:40vh;
  width:70vh;
  display:block;
  margin:0 auto;
  border-radius: 5px;
}

#experience img:hover{
  opacity:0.6;
}
/* contact */
#contact{
  height:80vh;
}

.bg-contact{
  background-color: rgba(246,248,103,0.4);
  height:70vh;
}

#contact a {
  position: relative;
  top:30px;
  min-width: 60px;
  min-height: 60px;
}

.twitter{
  display: block;
  margin:0 auto;
  width:60vh;
  height:60vh;
}

.follow{
  padding-top:40px;
}





/* footer */
footer{
  background-color: rgb(172, 172, 172);
  height:20vh;
  color:#fff;
}






/*===================== responsive =======================*/
@media screen and (max-width:768px){
/* header */
 header h1{
  font-size: 120px;
}

 header a{
   font-size: 40px;
   padding-bottom:10px;
 }
/* about */
/* experience */
#experience img{
  width:85%;
  height:20%;
}
/* contact */
/* footer */
}

@media screen and (max-width:479px){
  /* header */
  header h1{
    font-size:50px;
    padding-top: 150px;
  }

  header li{
    padding-top:16px;
  }

  header a{
    font-size: 30px;
  }

  /* about */
  #about,.bg-about{
    height:220vh;
  }
  #about h2{
    font-size:30px;
  }
  /* experience */
  /* contact */
  /* footer */
}
